<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JodanQuote.Properties.Settings.dsl_fittingConnectionString"
            connectionString="Data Source=DESIGNSVR3\SQLEXPRESS;Initial Catalog=dsl_fitting;Persist Security Info=True;User ID=sa;Password=Dodid1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>